{% extends "actions/base.html" %}

{% block content %}
<div class="has-text-left">
  <p class="py-2">
    Lots of people have pulled together great lists of ways to take action against racism. Yay!
  </p>

  <p class="py-2">
    However, I get overwhelmed when I look at a list of dozens of ways to take action. It's hard to choose. Sometimes I just want ONE thing, so I can just do it instead of trying to figure out what to do. You, too, maybe?
  </p>

  <p class="py-2">
    So here we go. One thing.
  </p>
</div>
{% endblock %}
