{% extends "actions/base.html" %}

{% block content %}
<div class="has-text-left">
  <p class="py-2">
    Lots of people have pulled together great lists of ways to take action against racism. Yay!
  </p>

  <p class="py-2">
    (Note: the lists I'm seeing are mostly geared toward actions white people can take in the US, so the action suggestions on this site are distinctly biased in that direction. Please feel free to <a href="https://github.com/thatandromeda/legendary-octo-waffle/issues">create an issue</a> if you have other resource lists you'd like to see here!)
  </p>

  <p class="py-2">
    However, I get overwhelmed when I look at a list of dozens of ways to take action. It's hard to choose. Sometimes I just want ONE thing, so I can just do it instead of trying to figure out what to do. You, too, maybe?
  </p>

  <p class="py-2">
    So here we go. One thing.
  </p>
</div>
{% endblock %}
