{% extends "actions/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section>
  <a href="{{ object.link }}" class="button is-warning is-large is-fullwidth">{{ object.call_to_action }}</a>
  {% if object.description or object.citation %}
    <div class="card has-background-white-ter mt-5">
      {% if object.description %}
        <div class="card-content">
          <div class="content has-text-justified">
            {{ object.description }}
          </div>
        </div>
      {% endif %}
      {% if object.citation %}
        <footer class="card-footer">
          <div class="container">
            From: {{ object.citation }}
          </div>
        </footer>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}